<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>プロジェクトセカイ　難易度表</title>
</head>

<body>
  <h1>プロジェクトセカイ　難易度表</h1>
  <div>
    現在のアカウント:
    {{if eq .Username ""}}
    未ログイン
    {{else}}
    {{.Username}}
    {{end}}
  </div>
  <div>
    {{range .Links}}
    <a href={{.Url}}>{{.Title}}</a>
    {{end}}
  </div>
  <h2>ログイン</h2>
  <form id="form" action="/login" method="POST">
    <table>
      <tr>
        <td>ユーザー名:</td>
        <td><input type="text" name="Username" id="Username" required /></td>
      </tr>
      <tr>
        <td>パスワード:</td>
        <td><input type="password" name="Password" id="Password" required /></td>
      </tr>
    </table>
    <div>
      <input id="submit-button" value="ログイン" type="button" />
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    var $form = $("#form"),
      $trigger = $("#submit-button");

    $trigger.click(function () {
      $form.submit();
      return false;
    });

    $form.submit(function () { });
  </script>
</body>

</html>
